.bg-img {
    background-image: url(../../img/Untitled-3.jpg);
    background-repeat: no-repeat;
    min-height: 90vh;
    width: 100%;
    background-position: top;
    background-size: 100vmax;
    background-attachment: fixed;
}
.font-size {
    font-size: 5rem;
}

.h-bg {
    min-height: 100vh;
}

.font1 {
    font-family: 'Ubuntu', sans-serif;
}

.font2 {
    font-family: 'lobster', sans-serif;
}

.font3 {
    font-family: 'poppins', sans-serif;
}
.font4 {
    font-family: 'Roboto', sans-serif;
}

.font-color {
    color: rgb(255, 31, 87);
}

.type-text {
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s steps(11) infinite alternate;
    border-right: solid 2px black;
}
@keyframes text {
    0% {
        width: 0ch;
    }
    50% {
        width: 11ch;
    }
}
